<!-- list.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des tâche</title>
</head>
<body>
    <h1>Liste des tâches</h1>
    <ul>
        <% tasks.forEach(function(task) { %>
            <li>
                <%= task.task %>
                <form method="POST" action="/delete/<%= task.id %>">
                    <button type="submit">Supprimer</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <a href="/add">Ajouter une tâche</a>
</body>
</html>
